@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('../fonts/GothaProReg.woff') format('woff'), url('../fonts/GothaProReg.otf');
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/GothamPro-Bold.ttf'), url('../fonts/GothamPro-Bold.ttf');
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro-Medium.woff');
}

body {
  font-size: 16px;
  color: #131313;
  font-family: 'Gotham Pro Regular';
  position: relative;
}

a {
  text-decoration: none;
  list-style: none;
}

ul {
  padding-left: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

/*header*/

.header {
  height: 900px;
  position: relative;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    object-position: 50% 50%;
  }
}

.sm-video {
  display: none;
}

.bg-video {
  display: block;
}

.navbar-collapse {
  justify-content: flex-end;
}

.top-nav-collapse {
  background-color: rgba(5, 25, 28, 0.15) !important;
  /*height: 75px;*/
}

.navbar {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.navbar-brand {
  padding-left: 15px;
  padding-right: 15px;
}

#logo {
  height: 50px;
  width: 150px;
  object-fit: contain;
}

.nav-link {
  color: white !important;
}

.nav-item a {
  font-weight: 400;
  font-family: 'Gotham Pro Regular';
  font-size: 24px;
  text-align: center;
  &:hover,
  &:focus {
    background-color: rgba(247, 247, 247, 0.8);
    outline: 0;
    color: #131313 !important;
  }
  &:active {
    background-color: rgba($color: white, $alpha: 0.8);
  }
}

.counter-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

#counter {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.counterText {
  font-family: 'Gotham Pro Bold';
  color: #1a224f;
  padding: 30px 50px;
  text-align: center;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.icoStartTitle {
  font-size: 36px;
  color: #131313;
  font-family: 'Gotham Pro Bold';
  font-weight: 700;
  text-transform: uppercase;
}

#icoStartCounter {
  color: #37375d;
  font-family: 'Gotham Pro Bold';
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.range-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.process-text-finish,
.process-text-start {
  font-family: 'Gotham Pro Bold';
  font-size: 16px;
  font-weight: 700;
  color: #1a224f;
  font-size: 20px;
}

#icoProgress {
  background-color: #37375d;
  height: 36px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 30px;
}

#finishProgress {
  width: 60%;
  height: 36px;
  background-color: #fa504b;
  border-radius: 15px 0px 0px 15px;
}

.smartContractLink {
  font-family: 'Gotham Pro Medium';
  color: #131313;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.smartContractLink a {
  text-decoration: none;
  font-family: 'Gotham Pro Bold';
  font-weight: 700;
  color: #0d2370;
  font-size: 20px;
  &:hover,
  &:focus {
    border-bottom: 2px solid #0d2370;
    outline: 0;
    text-decoration: none;
  }
  &:active {
    color: #0d2370;
    border: none;
  }
}

.social-links {
  width: 500px;
  position: relative;
  padding-left: 0;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0;
  li {
    width: 75px;
    height: 75px;
  }
}

.social-link a {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: #022027;
  }
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: 0;
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.header .join-action-btn {
  position: absolute;
  bottom: -15px;
  right: 15px;
}

.join-action-btn {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 65px;
  border-radius: 13px;
  cursor: pointer;
  color: #fff;
  font-family: 'Gotham Pro Bold';
  font-size: 44px;
  padding: 0;
  margin: 0;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #595959;
  background-image: linear-gradient(-7deg, #324b9f, #5852a5); //
  &:active {
    background-color: #324b9f;
  }
  &::focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
  }
}

/*end header*/

/*wp section*/

.wpSection {
  padding-top: 200px;
  background-image: url('../images/plane.png');
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: 650px 270px;
}

.wpbtn {
  height: 80px;
  width: 100%;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 28px;
  font-weight: 300;
  font-family: 'Gotham Pro Regular';
  border-radius: 13px;
  background-color: #1f75fe;
  display: flex;
  align-items: center;
  &:last-child {
    margin-top: 20px;
  }
}

.wptext {
  font-size: 18px;
  font-family: 'Gotham Pro Regular';
  margin-bottom: 0;
  color: #131313;
}

.textBold {
  font-family: 'Gotham Pro Bold';
}

#planeImgWp {
  position: relative;
  bottom: 320px;
  z-index: -100;
  margin-bottom: -320px;
  left: 600px;
}

.newsSection {
  margin-top: 200px;
  font-family: 'Gotham Pro Regular';
  font-size: 16px;
}

.newsSection h3 {
  color: #1f75fe;
  font-family: 'Gotham Pro Bold';
  font-size: 24px;
  font-weight: 700;
}

.articles {
  margin-top: 50px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.article {
  flex-basis: 330px;
  p {
    margin-bottom: 35px;
  }
  a {
    color: #131313;
    font-family: 'Gotham Pro Regular';
    font-size: 24px;
    font-weight: 400;
    position: relative;
    &::after {
      content: '>';
      position: absolute;
      width: 8px;
      height: 14px;
      right: -25px;
      bottom: 11.5px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.title-block {
  position: relative;
  margin-bottom: 70px;
}

.title {
  font-size: 40px;
  font-family: 'Gotham Pro Bold';
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}

.bigSmbl {
  color: #f7f7f7;
  font-size: 130px;
  font-family: 'Gotham Pro Bold';
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
}

.newsContent {
  width: 100%;
  height: 500px;
  background: #ddd;
  margin-bottom: 70px;
}

.featuresSection {
  background-color: #022027;
  color: #fff;
  padding-top: 130px;
  margin-top: 200px;
}

.bigSmbl-featuresSection {
  font-size: 130px;
  font-family: 'Gotham Pro Bold';
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
  opacity: 0.02;
  color: #ffffff;
}

.featuresSection h4 {
  font-family: 'Gotham Pro Bold';
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 15px;
  color: white;
  font-size: 24px;
  line-height: 33.33px;
}

.featuresSection p {
  font-family: 'Gotham Pro Regular';
  color: #ffffff;
  font-size: 16px;
}

.features-gif-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  .row {
    flex-basis: 100%;
  }
}

.featuresCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.features-block {
  justify-content: space-between;
}

.features-text-block:nth-child(odd) {
  text-align: right;
}

.ship {
  margin-top: 70px;
}

.aircraftToken {
  margin-bottom: 50px;
}

.coinflow {
  background-color: #001216;
}

.coinflow img {
  display: block;
  width: 100%;
  height: auto;
}

.offerSection {
  margin-top: 130px;
  background: #fff;
  font-family: 'Gotham Pro Regular';
}

.offerSection>.container>.row {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.offerSection h4 {
  font-family: 'Gotham Pro Bold';
  font-size: 24px;
  margin-bottom: 20px;
}

.offerSection p {
  font-size: 16px;
  /* Style for "The best o" */
}

.offerCol {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.offerImgSafary img {
  object-fit: cover;
}

.giftOffer {
  float: right;
  position: relative;
  bottom: 50px;
  margin-bottom: -50px;
}

.giftOffer img {
  width: 100px;
  height: auto;
}

.demo-platform-div {
  margin-bottom: 50px;
  margin-top: 25px;
}

.demo-platform-div a {
  margin-left: 25px;
  text-align: left;
  padding: 5px 100px;
  vertical-align: center;
  color: #fff;
  font-size: 28px;
  font-family: 'Gotham Pro Regular';
  background: -webkit-linear-gradient(110deg, rgba(235, 94, 125, 1) 0%, rgba(162, 71, 115, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(110deg, rgba(235, 94, 125, 1) 0%, rgba(162, 71, 115, 1) 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(110deg, rgba(235, 94, 125, 1) 0%, rgba(162, 71, 115, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(110deg, rgba(235, 94, 125, 1) 0%, rgba(162, 71, 115, 1) 100%);
  /* IE10+ */
  background: linear-gradient(110deg, rgba(235, 94, 125, 1) 0%, rgba(162, 71, 115, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#EB5E7D, endColorstr=#A24773);
  /* IE6-8 */
  background-size: auto;
  background-repeat: repeat;
  border-radius: 8px;
  text-decoration: none;
}

#iphonex3 {
  margin-top: 27px;
  margin-left: 50px;
}

#xiomi {
  position: relative;
  float: right;
  bottom: 300px;
  right: 120px;
  margin-bottom: -300px;
}

.joinBtnBack {
  margin-top: 50px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 35px 15px;
}

.icoSection {
  margin-top: 200px;
  margin-bottom: 100px;
  background-color: #fff;
  font-family: 'Gotham Pro Regular';
  font-size: 16px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 850px;
    height: 270px;
    top: 180px;
    left: 0;
    background-image: url('../images/plane.png');
    background-repeat: no-repeat;
    background-position: 90% 10%;
    transform: scale(-1, 1);
    background-size: cover;
  }
}

.text-block-ico {
  transform: translateY(-50px);
  font-size: 24px;
  color: #131313;
  margin-bottom: 80px;
}

.titleIco {
  color: #131313;
  font-family: 'Gotham Pro Bold';
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.icoDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
  padding-right: 0;
}

.icoDetails dt,
.icoDetails dd {
  color: #131313;
  font-family: 'Gotham Pro Regular';
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #828484;
}

.icoDetails dt {
  font-weight: 700;
  flex-basis: 40%;
}

.icoDetails dd {
  margin-bottom: 0;
  flex-basis: 60%;
}

.img-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
  img {
    object-fit: cover;
  }
}

.bonuses-section {
  background-color: #022027;
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 15%;
    left: 0;
    bottom: 0;
    background-image: url('../images/bubble.png');
    background-position: 100% 100%, 0% 5%;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    z-index: -1;
  }
}

.ico-details-midle-title {
  color: #fff;
  margin: 0 15px;
  font-family: 'Gotham Pro Bold';
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
  margin-bottom: 0;
  position: relative;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 20%;
    top: 10px;
    height: 163px;
    background-image: url('../images/plane.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &::after {
    right: 0;
    transform: rotate(10deg);
  }
  &::before {
    left: 0;
    transform: scale(-1, 1) rotate(10deg);
  }
}

.referral-text {
  color: #ffffff;
  font-family: 'Gotham Pro Bold';
  font-size: 16px;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 30%;
    bottom: 0;
    height: 195px;
    background-image: url('../images/bubble.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &::before {
    left: 0;
    transform: scale(-1, 1);
    background-position: 100% 50%;
  }
  &::after {
    right: 0;
    background-position: 100% 50%;
  }
  a {
    color: #ffffff;
    font-family: 'Gotham Pro Bold';
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid grey;
    &:hover,
    &:focus {
      opacity: 0.7;
      border-bottom: none;
      padding-bottom: 1px;
      outline: 0;
    }
    &:active {
      opacity: 1;
      border-bottom: 1px solid grey;
    }
  }
  b {
    font-size: 36px;
  }
}

.ico-details-table {
  margin-bottom: 0;
  tbody tr:nth-child(even) td {
    background-color: #f6f6f6;
  }
  td,
  th {
    background-color: #fff;
    color: #131313;
    font-family: 'Gotham Pro Regular';
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    border: none !important;
    border-left: 1px solid #dcdcdc !important;
    padding: 25px 0 !important;
  }
  td,
  thead th:not(:first-child) {
    border-left: 1px solid #dcdcdc !important;
    width: 250px;
    vertical-align: middle;
  }
  thead th {
    border-bottom: 1px solid #dcdcdc !important;
  }
}

.advantages {
  margin-top: 200px;
}

.forblock {
  padding: 43px 35px 48px 35px;
  font-family: 'Gotham Pro Regular';
  border-radius: 13px;
  border: 1px solid #3b3b3b;
  ul {
    margin-bottom: 0;
    &:last-child {
      height: 456px;
    }
  }
}

.forblock h4 {
  font-family: 'Gotham Pro Bold';
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.forblock li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  &:nth-child(n+5) {
    margin-bottom: 0;
  }
}

.roadmap {
  margin-top: 200px;
  position: relative;
  .roadmap-block {
    width: 100%;
    height: 100%;
    text,
    tspan {
      font-family: 'Gotham Pro Regular';
      color: #131313;
      padding-bottom: 10px;
    }
    .tspan,
    tspan {
      font-size: 14px;
    }
  }
  .hexagon1,
  .hexagon2 {
    transform: rotate(90deg);
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: -1;
  }
}

.hexagon1 {
  fill: #f9faff;
  left: 150px;
  top: 400px;
}

.hexagon2 {
  fill: #f8f8fb;
  right: 150px;
  top: 150px;
}

.distribution {
  margin-top: 200px;
  font-family: 'Gotham Pro Regular';
  .distribution-image-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }
  ul {
    margin-bottom: 0;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li {
    font-size: 20px;
    color: #131313;
    position: relative;
    margin-bottom: 30px;
    line-height: 40px;
    padding-left: 70px;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      &:before {
        content: '';
        position: absolute;
        width: 60px;
        height: 40px;
        left: 0;
        top: 0px;
      }
    }
  }
  li:nth-child(1) span::before {
    background-color: #556dba;
  }
  li:nth-child(2) span::before {
    background-color: #7297f7;
  }
  li:nth-child(3) span::before {
    background-color: #00dcff;
  }
  li:nth-child(4) span::before {
    background-color: #001e73;
  }
  li:nth-child(5) span::before {
    background-color: #0055f6;
  }
  li:nth-child(6) span::before {
    background-color: #ff4f49;
  }
  li:nth-child(7) span::before {
    background-color: #0035a9;
  }
}

.blue-txt,
.red-txt {
  font-size: 36px;
}

.directions {
  margin-top: 200px;
  position: relative;
}

.direction-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-left {
  z-index: -10;
  z-index: 49;
  width: 100%;
}

.img-right {
  z-index: -10;
  /*position: relative;*/
  /*right: 70px;*/
  z-index: 49;
  /*float: left;*/
  width: 100%;
}

.img-center {
  /*position: relative;*/
  /*right: 75px;*/
  /*top: 40px;*/
  z-index: 50;
  width: 100%;
}

.direction-photo {
  margin-bottom: 200px;
  position: relative;
  z-index: 2;
}

.direction-btm {
  position: relative;
  bottom: 450px;
  z-index: 5;
  margin-bottom: -1000px;
}

.direction-btm img {
  display: block;
  /*width:100%;*/
  /*max-width: 100%;*/
  /*height: auto;*/
  /*margin-bottom: -400px;*/
}

.direction-join-btn {
  text-align: center;
  padding: 50px 15px;
  z-index: 2;
  position: relative;
}

.img-web {
  position: absolute;
  width: 100%;
  opacity: 0.5;
  left: 0;
  height: 900px;
  object-fit: cover;
  transform: translateY(70%);
  bottom: 0;
}

.team {
  color: #ffffff;
  font-family: 'Gotham Pro Regular';
  background-color: #022027;
  background-image: url('../images/plane-team1.png');
  background-repeat: no-repeat;
  background-size: 1651px 529px;
  background-position: 700px 90px;
  padding-bottom: 80px;
  .bigSmbl {
    color: #022027;
  }
  h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}

.team-titles {
  margin-top: 225px;
  position: relative;
  z-index: 2;
}

.team-title__h2 {
  position: relative;
  font-size: 48px;
  z-index: 20;
}

.team-title__big {
  font-family: 'Gotham Pro Bold';
  position: relative;
  bottom: 20px;
  color: #1c2526;
  font-size: 90px;
  z-index: 20;
  left: 150px;
}

.photo-ceo {
  margin-bottom: 150px;
  justify-content: center;
  .short-info {
    background-size: contain;
    background-image: url('../images/template face.png');
  }
}

.team-block {
  margin-bottom: 80px;
  justify-content: center;
  &:last-child {
    margin-bottom: 0;
  }
}

.team-photo-item>img {
  width: 260px;
  height: 230px;
  object-fit: contain;
}

.team-block-item>img {
  width: 198px;
  height: 198px;
}

.short-info {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 16;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  background-size: contain;
  background-image: url('../images/template face.png');
  dl {
    margin-bottom: 0;
    text-align: center;
  }
  dt {
    padding: 0 5px;
    display: block;
    margin-bottom: 2px;
    max-width: 130px;
  }
  dd {
    margin-bottom: 0;
    opacity: 0.8;
  }
  .self-list-social {
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    align-items: baseline;
    li:first-child {
      margin-right: 10px;
    }
    img {
      cursor: pointer;
    }
  }
}

.team-photo-item,
.team-block-item {
  position: relative;
  margin: 0 15px;
}

.team-photo-item {
  margin-top: 15px;
}

.team-photo-item:hover .short-info,
.team-block-item:hover .short-info {
  display: flex;
}

.web-block-bottom {
  background-color: #022027;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }
}

.buy-tokens {
  padding-top: 80px;
  padding-bottom: 130px;
  color: #ffffff;
  font-family: 'Gotham Pro Bold';
  font-size: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
  button {
    margin-top: 100px;
    z-index: 2;
  }
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 40%;
    width: 30%;
    height: 160px;
    background-image: url('../images/plane.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &::before {
    right: 0;
    transform: rotate(10deg);
  }
  &::after {
    left: 0;
    transform: scale(-1, 1) rotate(10deg);
  }
}

.footer {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-family: 'Gotham Pro Regular';
  font-size: 16px;
  padding-bottom: 15px;
  address {
    margin-bottom: 0;
    flex-basis: 30%;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-left: auto;
}

.footer-links {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-mail {
  margin-bottom: 1rem;
  a {
    padding-left: 20px;
    &:hover,
    &:focus {
      opacity: 0.7;
      outline: 0;
    }
    &:active {
      opacity: 1;
    }
  }
}

.footer-links a {
  &:hover,
  &:focus {
    opacity: 0.7;
    outline: 0;
  }
  &:active {
    opacity: 1;
  }
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.modal-body {
  font-family: 'Gotham Pro Regular';
}

.modal-body input {
  font-size: 22px;
}

.modal-body h2 {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
}

.modal-body input {
  margin-top: 20px;
  outline: none;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid black;
  width: 90%;
  margin-left: 20px;
}

#login-email,
#reg-email {
  margin-top: 30px;
}

.modal-lg {
  max-width: 1200px;
}

.modal-content input[type='checkbox'] {
  position: relative;
  top: 1px;
  -webkit-appearance: button;
  border: solid 1px #000;
  text-decoration: none;
  overflow: hidden;
  outline: none;
  width: 15px;
  height: 15px;
}

.modal-content input[type='checkbox']:checked {
  background-color: gray;
  /*border-left-color:#06F;*/
  /*	border-right-color:#06F;*/
}

.robotcheckbox-div {
  padding-bottom: 40px;
}

#labelforterms a {
  display: inline-block;
}

.accept-checkbox-div {
  padding-left: 20px;
  text-align: left;
  padding-bottom: 20px;
}

#login-btn,
#login-2fa-btn {
  margin: auto;
  border: none;
  display: block;
  line-height: 24px;
  padding: 10px 60px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-family: 'Gotham Pro Bold';
  text-decoration: none;
  font-size: 24px;
  background: -webkit-linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* IE10+ */
  background: linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#D05171, endColorstr=#33365C);
  /* IE6-8 */
}

#reg-btn {
  margin: auto;
  border: none;
  display: block;
  line-height: 24px;
  padding: 10px 60px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-family: 'Gotham Pro Bold';
  text-decoration: none;
  font-size: 24px;
  background: -webkit-linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* IE10+ */
  background: linear-gradient(110deg, rgba(208, 81, 113, 1) 0%, rgba(51, 54, 92, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#D05171, endColorstr=#33365C);
  /* IE6-8 */
}

.modal-body a {
  margin-top: 10px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

/* ----------------- media screen -------------------- */

@media screen and (max-width: 1366px) {
  .img-left {
    width: 100%;
    float: none;
  }
  .img-right {
    width: 100%;
    float: none;
  }
  .img-center {
    right: 0px;
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 1200px) {
  address {
    margin-bottom: 0;
    flex-basis: 40%;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-left: auto;
  }
  .icoDetails dt {
    flex-basis: 33%;
    font-size: 22px;
  }
  .icoDetails dd {
    flex-basis: 67%;
    font-size: 22px;
  }
  .ico-details-table {
    td,
    thead th:not(:first-child) {
      border-left: 1px solid #dcdcdc !important;
      width: 200px;
    }
  }
  .team {
    background-position: 300px 110px;
  }
}

@media screen and (max-width: 991px) {
  address {
    margin-bottom: 0;
    flex-basis: 50%;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-left: auto;
  }
  .counter-box {
    align-items: center;
  }
  .header .join-action-btn {
    left: auto;
    right: auto;
  }
  .forblock {
    ul {
      &:last-child {
        height: auto;
      }
    }
  }
  .wpSection {
    background-image: none;
  }
  .icoSection::before {
    display: none;
  }
  .offerCol {
    padding-right: 15px;
  }
  .offerImgSafary {
    text-align: center;
  }
  .img-left {
    z-index: 0;
    position: static;
    text-align: center;
    width: 100%;
  }
  .img-right {
    z-index: 0;
    position: static;
    text-align: center;
    width: 100%;
  }
  .img-center {
    z-index: 0;
    position: static;
    float: none;
    text-align: center;
    width: 100%;
  }
  .forblock {
    margin-bottom: 40px;
  }
  .forblock.last {
    margin-bottom: 0;
  }
  .ico-details-table {
    td,
    thead th:not(:first-child) {
      width: 150px;
    }
    thead th:first-child {
      width: 70px;
    }
  }
  .bonuses-section .container {
    max-width: 100%;
  }
  .ico-details-table td,
  .ico-details-table th {
    font-size: 18px;
  }
  .roadmap {
    .hexagon1,
    .hexagon2 {
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: -1;
    }
    .hexagon1 {
      top: 300px;
    }
  }
  .distribution {
    .distribution-image-block {
      padding-right: 15px;
    }
    ul {
      padding-left: 15px;
    }
  }
  .team-titles {
    padding-top: 200px;
  }
  .team-title__big {
    left: 0;
    right: 200px;
  }
  .direction-btm {
    display: none;
  }
  .team-titles {
    padding-top: 0px;
  }
  .team-title__h2 {
    position: static;
    float: left;
    margin-top: 50px;
  }
  .buy-tokens {
    &::after,
    &::before {
      top: 40%;
    }
  }
}

@media screen and (max-width: 767px) {
  .features-gif-block {
    .featuresCenter {
      order: -1;
      position: static;
      justify-content: center;
      img {
        max-height: 310px;
        object-fit: contain;
      }
    }
    .features-text-block {
      text-align: center;
    }
  }
  .direction-join-btn {
    background-color: rgba(0, 1, 3, 0.2);
  }
  .header {
    margin-top: 60px;
  }
  .navbar-brand {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar.scrolling-navbar {
    background-color: rgba(5, 25, 28, 0.15) !important;
  }
  .navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .sm-video {
    display: block;
  }
  .bg-video {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-toggler {
    height: 50px;
    width: 50px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
      background-color: rgba(247, 247, 247, 1);
      outline: 0;
    }
    &:active {
      background-color: rgba($color: white, $alpha: 0.8);
    }
  }
  .line {
    width: 50px;
    height: 5px;
    background-color: #7a7a7a;
    display: block;
    margin: 9px auto;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
  }
  #ham.active .line:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
  }
  #ham.active .line:nth-child(2) {
    transform: rotate(45deg);
  }
  #ham.active .line:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
  }
  navbar-toggler collapsed .navbar-collapse {
    background-color: #ffffff;
    text-align: center;
    opacity: 0.8;
  }
  .nav-item {
    background-color: rgba($color: #fff, $alpha: 0.8);
    border-top: 1px solid #1a1a1a;
    &:first-child {
      border-top: none;
    }
    &:hover,
    &:focus {
      background-color: rgba(247, 247, 247, 1);
      outline: 0;
    }
    &:active {
      background-color: rgba($color: white, $alpha: 0.8);
    }
  }
  .nav-link {
    color: #1a224f !important;
    font-family: 'Gotham Pro Regular';
    font-size: 24px;
    font-weight: 400;
  }
  .counter-box {
    justify-content: flex-start;
    padding-top: 100px;
  }
  .social-links {
    margin-top: 65px;
    order: 3;
  }
  .header .join-action-btn {
    position: static;
    margin-top: 95px;
  }
  .article {
    flex-basis: auto;
  }
  .wptext {
    margin-top: 100px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    text-indent: 1.5em;
  }
  .ico-details-table td,
  .ico-details-table th {
    font-size: 16px;
  }
  .ico-details-midle-title {
    &::after,
    &::before {
      display: none;
    }
  }
  .referral-text {
    padding-left: 30%;
    padding-bottom: 150px;
    padding-top: 170px;
    &::after {
      display: none;
    }
    &::before {
      height: 100%;
      width: 50%;
      background-position: 100% 100%;
    }
  }
  .roadmap {
    .hexagon1,
    .hexagon2 {
      display: none;
    }
  }
  .distribution {
    .distribution-image-block {
      justify-content: center;
    }
    ul {
      margin-top: 30px;
      align-items: center;
      li {
        width: 350px;
      }
    }
  }
  .icoDetails dt {
    flex-basis: 30%;
    font-size: 18px;
  }
  .icoDetails dd {
    flex-basis: 70%;
    font-size: 18px;
  }
  .footer {
    address {
      flex-basis: 100%;
      order: 3;
      text-align: right;
    }
    .footer-section {
      flex-basis: 100%;
      margin-left: 0;
    }
  }
  .img-web {
    height: 700px;
  }
  .team {
    background-position: 150px 110px;
  }
  .team-photo-item>img {
    width: 240px;
    height: 210px;
    object-fit: contain;
  }
  .team-block-item>img {
    width: 148px;
    height: 148px;
  }
  .team-block {
    .short-info {
      padding-top: 10px;
      padding-bottom: 10px;
      dt {
        max-width: 100px;
      }
      .self-list-social {
        margin-top: 20px;
      }
    }
  }
  .bigSmbl,
  .bigSmbl-featuresSection {
    font-size: 90px;
  }
  .buy-tokens {
    &::after,
    &::before {
      top: auto;
      bottom: 0;
      width: 45%;
    }
  }
  .web-block-bottom img {
    height: 83%;
  }
  .footer {
    background-color: rgba(0, 1, 3, 0.2);
    padding: 20px 0;
    .footer-links {
      margin-bottom: 1rem;
    }
  }
  .ico-details-table td,
  .ico-details-table thead th:not(:first-child) {
    white-space: normal;
  }
}

@media (max-width: 576px) {
  .distribution-content {
    justify-content: center;
  }
  .text-block-ico {
    transform: translate(0);
  }
  .bigSmbl,
  .bigSmbl-featuresSection {
    font-size: 60px;
    padding-right: 15px;
  }
  .article {
    margin-bottom: 30px;
    p {
      margin-bottom: 1rem;
    }
  }
  .icoDetails {
    padding-right: 15px;
  }
  .img-block {
    padding-left: 15px;
    justify-content: center;
    img {
      height: 200px;
    }
  }
  .distribution {
    ul {
      li {
        width: 100%;
      }
    }
  }
  .team {
    background-position: 20px 110px;
  }
}

@media (max-width: 500px) {
  #counter {
    width: 100%;
    position: relative;
    .counterText {
      padding-left: 15px;
      padding-right: 15px;
    }
    #icoStartCounter {
      padding: 0;
    }
  }
  #icoStartCounter {
    font-size: 40px;
  }
  .social-links {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
  }
  .social-link {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .social-link a {
    background-size: 50% 50%;
  }
  .join-action-btn {
    width: 100%;
  }
  .footer-mail a {
    padding-left: 10px;
  }
  .bigSmbl,
  .bigSmbl-featuresSection {
    font-size: 45px;
  }
  .ship {
    .col-8,
    .col-9 {
      max-width: 100%;
      flex-basis: 100%;
    }
    .col-3 {
      order: 2;
    }
    .col-3,
    .col-4 {
      max-width: 100%;
      flex-basis: 100%;
      text-align: center;
    }
  }
  .icoDetails {
    dt,
    dd {
      font-size: 16px;
    }
  }
  .distribution {
    ul {
      li {
        font-size: 16px;
        span {
          width: 45px;
        }
      }
    }
  }
}

.teamModal {
  img {
    object-fit: cover;
  }
  .modal-dialog {
    max-width: 750px;
  }
  .modal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 70px 30px;
    margin: 0 15px;
    border-radius: 20px;
    position: relative;
  }
  .modal-header {
    border-bottom: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0;
    padding-top: 0;
    .modal-title {
      color: #131313;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 3px;
    }
    span {
      color: #131313;
      font-size: 16px;
      opacity: 0.8;
    }
  }
  .close {
    position: absolute;
    top: 15px;
    right: 30px;
    &:focus {
      color: #000;
      text-decoration: none;
      opacity: 0.75;
      outline: 0;
    }
  }
  .modal-body {
    opacity: 0.8;
  }
  .modal-footer {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    justify-content: flex-start;
  }
  .modal-text-block {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 767px) {
    img {
      display: none;
    }
    .modal-content {
      padding: 50px 15px;
    }
  }
}

.page-404 {
  display: flex;
  flex-direction: column;
  header {
    flex-grow: 1;
    display: flex;
    video {
      height: 100%;
    }
  }
  .text-404 {
    color: #1a224f;
    font-family: 'Gotham Pro Bold';
    font-size: 30px;
    font-weight: 700;
    padding: 50px 50px;
    margin-bottom: 0;
    text-align: left;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    b {
      font-size: 36px;
      display: block;
    }
    a {
      text-decoration: none;
      color: #1a224f;
      font-family: 'Gotham Pro Bold';
      font-size: 30px;
      font-weight: 700;
      border-bottom: 2px solid #1a224f;
      &:hover,
      &:focus {
        border-bottom: none;
        padding-bottom: 2px;
        outline: 0;
      }
      &:active {
        border-bottom: 2px solid #1a224f;
      }
    }
  }
  footer {
    padding: 15px 0;
    background-color: rgba($color: #022027, $alpha: 0.8);
  }
  @media (max-width: 500px) {
    .text-404 {
      width: 100%;
      padding: 15px;
    }
  }
}